// ------------------------------
// SINGLE POST LAYOUT
// ------------------------------

.post-comments {
  border-top: 1px solid $gray-light;
  padding: 60px 0;
}

.post-container--single {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.post-header {
  margin-bottom: 30px;
  text-align: center;
}

.post-title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px 0;
  color: $gray-darkest;
}

.post-meta {
  margin: 0 0 .4em 0;
  color: darken($gray, 2%);
  text-align: center;
  font-size: 0.9em;
}

  .post-meta__date {
    margin-right: .5em;
  }

  .post-meta__tags {
    margin-left: .4em;
  }

  .post-meta__author {
    margin-left: 1.5em;
  }

  .post-meta__avatar {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 .3em -.4em 0;
    border: none;
    box-shadow:none;
  }

// ------------------------------
// SINGLE POST STYLES
// ------------------------------

.post {

  img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: $border-radius;
    text-align: center;
    display: block;
  }

  pre {
    width: 95%;
    overflow: auto;
  }

  hr {
    display: block;
    width: 30%;
    margin: 2em 0;
    border-top: 1px solid $gray-light;
  }

  p {
    line-height: 1.8;
    margin-bottom: 1.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: $gray-darkest;
  }

  h1 { font-size: 2em; }
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.25em; }

  ul, ol {
    margin: 0 0 1.5em 2em;
  }

  li {
    margin-bottom: 0.5em;
    line-height: 1.6;
  }

  blockquote {
    border-left: 4px solid $primary-color;
    padding-left: 20px;
    margin: 1.5em 0;
    font-style: italic;
    color: $gray-dark;
  }

  code {
    padding: 0.2em 0.4em;
    background: lighten($secondary-color, 32%);
    border-radius: 3px;
    font-size: 0.9em;
  }

  pre {
    background: lighten($secondary-color, 32%);
    padding: 1em;
    border-radius: $border-radius;
    overflow-x: auto;
    margin-bottom: 1.5em;

    code {
      padding: 0;
      background: none;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.5em 0;
  }

  th, td {
    padding: 10px;
    border: 1px solid $gray-light;
    text-align: left;
  }

  th {
    background: $gray-lighter;
  }

}
